<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type"  content="text/html; charset=UTF-8" />
        <meta http-equiv="Cache-Control" content="max-age=0" />
        <meta http-equiv="content-script-type" content="text/javascript" />
        <meta name="robots" content="noindex,nofollow" />
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
        <link rel="stylesheet" href="/static/css/reset.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/mynote.css" type="text/css" />
        <title>mynote</title>
        <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
        <script src="/static/js/mynote.js?v=5" type="text/javascript"></script>
        <!--[if !IE]>-->
        <link media="only screen and (max-device-width: 480px)" href="/static/css/iphone.css" type="text/css" rel="stylesheet" />
        <!--<![endif]-->
[% IF is_iphone %]
        <meta name="viewport" content="width=device-width" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
[% END %]
    </head>
    <body>
        <header>
            <h1><a href="/">mynote</a></h1>
        </header>

[% content %]

        <footer>
            MyNote [% VERSION() %]
        </footer>
    </body>
</html>

